services:
  relay:
    container_name: haven-relay
    image: holgerhatgarkeinenode/haven-docker:v1.2.1
    env_file:
      - .env
    volumes:
      - "./db:/app/db"
      - "./templates:/app/templates"
      - "./blossom:/app/blossom"
      - "./relays_import.json:/app/relays_import.json"
      - "./relays_blastr.json:/app/relays_blastr.json"
      - "./blacklisted_npubs.json:/app/blacklisted_npubs.json"
      - "./whitelisted_npubs.json:/app/whitelisted_npubs.json"
    ports:
      - "3355:${RELAY_PORT:-3355}"
    user: "${DOCKER_UID:-1000}:${DOCKER_GID:-1000}"
    restart: unless-stopped
